@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}
body {
  background: #f8fafc;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.btn {
  @apply inline-flex items-center justify-center px-3 py-1 rounded-md border;
}
.btn-primary {
  @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}